# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
.env

# Poetry
poetry.lock

# Docker
*.log
*.pid
*.sock

# VSCode
.vscode/

# Pytest
.cache/
.pytest_cache/

# MyPy, coverage, etc
.mypy_cache/
coverage.xml
htmlcov/

# DB
*.sqlite3

# Others
*.egg-info/
dist/
build/

# Secrets
*.pem
*.key

# PyCharm
.idea/

# Local database dumps or migrations
*.sql
*.dump
migrations/
